{% extends 'store/home.html' %}



{% block Categories-Section %}
{% endblock Categories-Section %}

{% block Product-Section %}
{% endblock Product-Section %}

{% block Banner-Section %}
{% endblock Banner-Section %}

{% block Trend-Section %}
<!-- Shop Cart Section Begin -->
<section class="shop-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <!-- Categories Section End -->
                    {% if messages %}
                    <div class="alert alert-primary" role="alert">
                        {% for message in messages %}
                        <p id="messages"> {{ message }}</p>
                        {% endfor%}
                    </div>
                    {% endif %}
                </div>
                <div class="shop__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in items %}
                            <tr>
                                <td class="cart__product__item">
                                    <img src="{{ product.item.image.all.0.image.url }}" width="50" height="50" alt="">
                                    <div class="cart__product__item__title">
                                        <h6>{{ product.item.title }}</h6>
                                        <div class="rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">{{ product.item.price }}</td>
                                <td class="cart__quantity">
                                <script type="text/javascript"> window.CSRF_TOKEN = "{{ csrf_token }}"; </script>
                                <div class="pro-qty">
                                    <input class="myclass" id='toto{{ product.id }}' type="text" name='{{ product.id }}' value="{{ product.quantity }}">
                                    
                                </div>
                            
                                        
                                    
                                </td>
                                <td class="cart__total" id="total{{product.id}}">$ {{ product.get_total_item_price }}</td>
                                <div class="container">
                                <td class="cart__close" data-toggle="modal" data-target="#myModal{{product.id}}" ><span class="icon_close"></span></a></td>
                                    <!-- Trigger the modal with a button -->
                                  
                                    
                                    <div class="modal fade" id="myModal{{product.id}}" role="dialog">
                                      <div class="modal-dialog">
                                        
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                          
                                          <div class="modal-body">
                                            
                                            <p>Delete item <strong>{{ product.item.title }} </strong> from cart?.</p>
                                            <div class="cart__btn">
                                            <a class="from cart?." href="{% url 'remove_from_cart' id=product.id %}">Yes</a>
                                        </div>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="site-btn" data-dismiss="modal">Close</button>
                                          </div>
                                        </div>
                                    
                                      </div>
                                    
                                    </div>
                                  </div>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn">
                    <a href="{% url 'home' %}">Continue Shopping</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="cart__btn update__btn">
                    <a href="#"><span class="icon_loading"></span> Update cart</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="discount__content">
                    <h6>Discount codes</h6>
                    <form action="#">
                        <input type="text" placeholder="Enter your coupon code">
                        <button type="submit" class="site-btn">Apply</button>
                    </form>
                </div>
            </div>
                <div class="cart__total__procced">
                    <h6>Cart total</h6>
                    <ul>
                        <li class="total_cart">Subtotal <span>$ {{ total_cart }}</span></li>
                        <li>Total <span>$ 750.0</span></li>
                    </ul>
                    <a href="#" class="primary-btn">Proceed to checkout</a>
                </div>
            </div>
        </div>
    </div>

    

<!-- Button trigger modal -->

  
  <!-- Modal -->
 
<!-- Shop Cart Section End -->

{% endblock Trend-Section %}

{% block Discount-Section %}
{% endblock Discount-Section %}


{% block Services-Section %}
{% endblock Services-Section %}


{% block Instagram-Section %}
{% endblock Instagram-Section %}




{% block Search-Section %}
{% endblock Search-Section %}
